body {
  font-family: "Gilroy-Medium";
  font-family: "Gilroy-Bold";
}
.header {
  width: auto;
  height: 506px;
}
.screen2 {
  width: auto;
  height: 506px;
  background-color: rgba(246, 246, 246, 1);
  padding-top: 120.25px;
}
/* screen3 {
  width: auto;
}  */
